@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');

html {
    scroll-behavior: smooth;
    /* overflow-y: scroll; */
    animation-name: scroll;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0, 1.16, 1, 1);
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    background-color: #23272c;
    background-image: linear-gradient(135deg, #000000 25%, transparent 25%), linear-gradient(225deg, #000000 25%, transparent 25%), linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(315deg, #000000 25%, #23272c 25%);
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
    font-family: 'Poppins', sans-serif;
    color: #e5e1dc;
    padding: 0 8em;
}

header {
    overflow: hidden;
}

nav {
    position: fixed;
    z-index: 1;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
    height: fit-content;
    background: #23272cb8;
}

.material-symbols-outlined.burguer {
    display: none;
}


ul {
    list-style: none;
    display: flex;
    /* gap: 0 15px; */
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

ul li a {
    font-size: larger;
    color: white;
    text-decoration: none;
}

.li-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.li-list-burger {
    display: none;
}

.collapsed {
    display: none !important;
}

.li-list li {
    padding: 0 15px;
    color: #e5e1dc;
    margin: 0 5px;
    /* display: block;
    height: 100%; */
}

/* For font color animation*/
.borderbutton {
    display: inline-block;
    text-decoration: none;
    transition: color .4s ease-in;
    /* height: 100%; */
    /* padding-bottom: 0px; */
}

.borderbutton:hover {
    color: #fdb642;
}

/* For border button animation */
.borderbutton::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #feb642;
    transition: width .4s ease-in;
    /* margin-top: 10px; */
}

.borderbutton:hover::after {
    width: 100%;
}

.boton {
    color: #feb642;
}

.boton::before {
    content: 'Hire me';
    border-radius: 25px;
    border: #feb642 solid;
    padding: 0.7rem 1.2rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: small;
    font-weight: bold;
}

.brand {
    cursor: pointer;
}

.hero {
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.card-contenedor {
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background: #363e45;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    gap: 40px;
}

.card h3 {
    color: #feb642;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.card span {
    color: #e5e1dc;
    text-align: center;
    font-size: small;
    font-weight: bold;
}

.hero img {
    margin-bottom: 1.2rem;
    border-radius: 100%;
    max-width: 15%;
    height: auto;
}

a {
    color: #feb642;
    text-decoration-color: #feb642;
}

#hand {
    max-width: 5%;
    height: auto;
    margin: 0 0;
}

.social-media-links img {
    max-width: 3.5%;
    height: auto;
    margin: 0 15px;
    cursor: pointer;
}

.icon-contenedor i {
    background: #e5e1dc;
    color: #23272c;
    border-radius: 100%;
    padding: 15px 20px;
    font-size: 1.7em;
}

/*Portfolio*/
#portfolio {}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    gap: 10px 10px;
}

.portfolio-container hr {
    width: 100%;
    border: 1px solid #feb642;
}


.portfolio-container__item {
    text-align: center;
    padding: 30px;
    flex-basis: 33.333333%;
    transition: all 0.7s ease-out;
    font-size: 12px;
    border: #fdb642 solid 1px;
    cursor: pointer;
}

.portfolio-container__item:hover {
    background: #23272c;
    color: white;
}

.portfolio-container__item .description div span,
.portfolio-container__item .description span {
    vertical-align: top;
}

.portfolio-container__item .description {
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    animation: fadeIn 5s;
}

.portfolio-container__image {
    width: 30px;
    height: auto;
    margin: 10px;
}

.portfolio-container__image.end {
    text-align: end;
}

.title {
    font-weight: 600;
    font-size: 16px;
}

.description {
    text-align: left;
}


.company {
    text-align: left;
}

.repolinks {
    margin: auto;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    animation: fadeIn 5s;
}

.portfolio-container__image.linkimage {
    width: 30%;
    height: auto;
    margin: 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*Modal*/
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    /* background-color: rgb(0, 0, 0); */
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/*skills*/
#skills {}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px 10px;
}


.skills__item {
    text-align: center;
    padding: 30px;
    /* background: #23272c; */
    min-width: 100px;
    min-height: 100px;
    transition: all 0.7s ease-out;
    cursor: pointer;
}

.skills__item.title {
    /* grid-area: front; */
    grid-column-start: 1;
    grid-column-end: 2;
    /* background-color: #000000; */

}

.skills__item:hover {
    /* opacity: 0.7; */
    background-color: #fdb642;
    color: white;
    /* z-index: 1; */
}

.skills__item.title:hover {
    opacity: 0.7;
    background-color: #1045a0;
    color: white;
}

.skills__item img {
    width: 40px;
    transition: all 0.7s ease-out;
}

.skills__item img:hover {
    width: 90px;
}

#footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding-top: 14em;
}

#email-icon {
    width: 3em;
}

.footer__header {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;


    gap: 10px;


}

.form__item {
    padding: 10px;
    background: #23272c;
    border: 1px solid #23272c;
    border-radius: 4px;
    color: #e5e1dc;
    width: 100%;
    font-family: 'Poppins';
}


.send {
    text-decoration: none;
    border-radius: 25px;
    color: #feb642;
    border: #feb642 solid;
    padding: 0.7rem 1.2rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: small;
    font-weight: bold;
    background: #23272c;
}

.send:hover {
    color: #e5e1dc;
    background-color: rgba(254, 182, 66, 0.379);
}

/*About*/
#about {
    padding-top: 14em;
    /* margin: 8em; */
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about__image img {
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    /* box-shadow: 0 0 5px 5px rgba(0, 140, 186, 0.5); */
    /* box-shadow: 0 0 5px 5px rgba(254, 182, 66, 1); */
}

#card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.card__header {
    display: none;
}

/* credits */
#credits {
    padding: 100px 0 0 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.credits {
    color: red;
    vertical-align: middle;
    padding: auto 8px;
}

.material-symbols-outlined {
    transition: color .4s ease-in;
    font-variation-settings:
        'FILL' 1,
        'wght' 200,
        'GRAD' 0,
        'opsz' 48;
}

.material-symbols-outlined.red:hover {
    /* font-variation-settings:
        'FILL' 1,
        'wght' 200,
        'GRAD' 0,
        'opsz' 48; */
    color: red;
}

@media screen and (max-width:652px) {
    /* .portfolio-container__item {
        min-width: 50%;
    } */
}

@media screen and (max-width:494px) {
    /* .skills-container {
        width: 400px;
    } */

}

@media screen and (max-width:395px) {
    /* .skills-container {
        width: 300px;
        flex-direction: column;
    } */

}

@media screen and (max-width:344px) {
    /* .skills-container {
        align-content: center;
    } */

    .social-media-links img {
        max-width: 10%;
    }

    .hero img {
        max-width: 45%;
    }
}

@media screen and (max-width:612px) {
    body {
        padding: 0 1em;

    }

    .li-list {
        display: none;

    }

    .material-symbols-outlined.burguer {
        display: inline;
        cursor: pointer;
    }

    .li-list-burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .brand {
        display: none;
    }

    .social-media-links img {
        max-width: 10%;
    }

    .hero img {
        max-width: 45%;
    }

}

@media screen and (max-width:891px) {
    .about-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .about__image img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
    }
}

@media screen and (max-width:493px) {
    #about {
        /* padding: 8em 3em 0 3em; */
    }

    .about-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .card__header {
        display: inline-block;
    }

    .about__image img {
        display: none;
    }

}