@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');

body {
    background-color: #23272c;
    /* opacity: 1; */
    background-image: linear-gradient(135deg, #000000 25%, transparent 25%), linear-gradient(225deg, #000000 25%, transparent 25%), linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(315deg, #000000 25%, #23272c 25%);
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
    font-family: 'Poppins', sans-serif;
    color: #e5e1dc;
}

header {
    overflow: hidden;
}

nav {
    position: fixed;
    z-index: 1;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
    height: fit-content;
    background: #23272cb8;
}

.material-symbols-outlined.burguer {
    display: none;
}


ul {
    list-style: none;
    display: flex;
    /* gap: 0 15px; */
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

ul li a {
    font-size: small;

    color: white;
    text-decoration: none;
}

.li-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.li-list-burger {
    display: none;
}

.collapsed {
    display: none !important;
}

.li-list li {
    padding: 0 15px;
    color: #e5e1dc;
}

.li-list li:hover {
    font-weight: bold;
}

.boton {
    color: #feb642;

}

.boton::before {
    content: 'Hire me';
    border-radius: 25px;
    border: #feb642 solid;
    padding: 0.7rem 1.2rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: small;
    font-weight: bold;

}

.brand {
    cursor: pointer;
}

.hero {
    margin: 4rem 0;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.card-contenedor {
    /* position: relative; */


    display: flex;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    /* width: 100%; */
    /* min-width: 155px; */
    background: #363e45;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    /* position: absolute; */


    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    gap: 40px;


}

.card h3 {
    color: #feb642;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;

}

.card span {
    color: #e5e1dc;
    text-align: center;
    font-size: small;
    font-weight: bold;
}

.hero img {
    margin-bottom: 1.2rem;
    border-radius: 100%;
    max-width: 15%;
    height: auto;
}

a {
    color: #feb642;
    text-decoration-color: #feb642;
}

#hand {
    /* color: #feb642; */
    /* margin-left: 0.5rem; */
    max-width: 5%;
    height: auto;
    margin: 0 0;

}

.social-media-links img {
    max-width: 3.5%;
    height: auto;
    margin: 0 15px;
    cursor: pointer;
}

/* .icon-contenedor li { */
/* padding: 0px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #e5e1dc; */

/* } */

.icon-contenedor i {
    background: #e5e1dc;
    color: #23272c;
    border-radius: 100%;
    padding: 15px 20px;
    font-size: 1.7em;
    /*1em equal to original size, 1.5 is equal more less original size más the middle*/

}

/*Portfolio*/

.portfolio-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}

.portfolio-container hr {
    width: 100%;
    border: 1px solid #feb642;
    /* margin: 1rem 0; */
}


.portfolio-container__item {
    text-align: center;
    padding: 30px;
    flex-basis: 33.333333%;
    /* background: #23272c; */
    /* width: 30%; */
    transition: all 0.5s ease-out;
    /* font-size: 12px; */
    border: #fdb642 solid 1px;
}

.portfolio-container__item .description div span,
.portfolio-container__item .description span {
    vertical-align: top;
}

.portfolio-container__image {
    width: 40px;
    height: auto;
    margin: 10px;
}

.portfolio-container__image.end {
    text-align: end;
}

.title {
    font-weight: 600;
    font-size: 16px;
}

.description {
    text-align: left;
}


.company {
    text-align: left;
}

/*Modal*/
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    /* background-color: rgb(0, 0, 0); */
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/*skills*/
.skills-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    height: auto;
    width: 670px;
}

.skills__item {
    text-align: center;
    padding: 30px;
    /* background: #23272c; */
    min-width: 100px;
    min-height: 100px;
    transition: 0.3s;
    cursor: pointer;
}

.skills__item:hover {
    opacity: 0.7;
    background-color: #fdb642;
    color: white;
}

.skills__item p {
    padding-top: 5px;
}

.skills__item img {
    width: 40px;
}

.soft-skills-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    height: auto;
    margin: 0;
    padding: 0;
}

.soft-skills-list__item {
    padding: 20px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    min-width: -webkit-fill-available;
}

.soft-skills-list__item i {
    background: #e5e1dc;
    color: #23272c;
    border-radius: 100%;
    padding: 1px 5px;
    font-size: 1.7em;
}

.soft-skills-list__item span {
    color: #feb642;
}

.soft-skills-list__item small {
    float: right;
}

#footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;

    padding-top: 5em;


}

#email-icon {
    width: 3em;
}

.footer__header {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;


    gap: 10px;


}

.form__item {
    padding: 10px;
    background: #23272c;
    border: 1px solid #23272c;
    border-radius: 4px;
    color: #e5e1dc;
    width: 100%;
    font-family: 'Poppins';
}


.send {
    text-decoration: none;
    border-radius: 25px;
    color: #feb642;
    border: #feb642 solid;
    padding: 0.7rem 1.2rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: small;
    font-weight: bold;
    background: #23272c;
}

.send:hover {
    color: #e5e1dc;
    background-color: rgba(254, 182, 66, 0.379);
}

/*About*/
#about {
    padding: 8em 8em 0 8em;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about__image img {
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

#card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 10px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width:652px) {
    .portfolio-container__item {
        min-width: 50%;
    }
}

@media screen and (max-width:494px) {
    .skills-container {
        width: 400px;
    }

}

@media screen and (max-width:395px) {
    .skills-container {
        width: 300px;
        flex-direction: column;
    }

}

@media screen and (max-width:344px) {
    .skills-container {
        width: 100px;
        /* flex-direction: column; */
        /* justify-content: center; */
        /* align-items: center; */
        align-content: center;
    }

    .social-media-links img {
        max-width: 10%;
    }

    .hero img {
        max-width: 45%;
    }
}

@media screen and (max-width:612px) {
    .li-list {
        display: none;

    }

    .material-symbols-outlined.burguer {
        display: inline;
        cursor: pointer;
    }

    .li-list-burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .brand {
        display: none;
    }

    .social-media-links img {
        max-width: 10%;
    }

    .hero img {
        max-width: 45%;
    }

}

@media screen and (max-width:891px) {
    .about-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .about__image img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
    }
}

.card__header { 
    display: none;
}

@media screen and (max-width:493px) {
    #about {
        padding: 8em 3em 0 3em;
    }
    .about-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .card__header { 
        display: inline-block;
    }
    .about__image img {
        display: none;
    }
    
}
